  <form method="POST">
    <h3 align="center"> Cadastro de Dashboard </h3>
    <div class="form-group">
      <label for="permissao">Permissão</label>
      <input
        type="text"
        class="form-control"
        id="permissao"
        name="permissao"
        placeholder="Insira o tipo de Permissão"
      />
    </div>
    <div class="form-group">
      <label for="nome">Título Dashboard</label>
      <input
        type="text"
        class="form-control"
        id="nome"
        name="nome"
        placeholder="Insira o link do dashboard"
      />
    </div>
    <div class="form-group">
      <label for="segmento">Segmento</label>
      <input
        type="text"
        class="form-control"
        id="segmento"
        name="segmento"
        placeholder="Insira o link do dashboard"
      />
    </div>
    <div class="form-group">
      <label for="password1">Link</label>
      <input
        type="url"
        class="form-control"
        id="Link"
        name="Link"
        placeholder="Insira o link do dashboard"
      />
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
