{% extends "base.html" %} {% block title %}Página Inicial{% endblock %} {% block content%}

<h4 align="center">Dashboards</h4>
<br> <h6 align="center">Nessa página você encontra todos os dashboards associados a essa conta.</h6> 

<table class="table table-hover table-striped">
  <tr>
    <th>Dashboard</th>
    <th>Link</th>
    <th>Segmento</th>
  </tr>
  {% for row in user.notes %}
  <tr>
    <td>{{row.Dashboard}}</td>
    <td>{{row.Link}}</td>
    <td>{{row.Segmento}}</td>

  </tr>
  {% endfor %}
</table>


 


{% endblock %}
